<div *ngIf="group">
  <h2>{{group.name}}</h2>
  <div *ngFor="let user of group.users" class="card">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p>Age: {{user.age}}</p>
      <p>Phone: {{user.phone}}</p>
      <p>Email: {{user.email}}</p>
    </div>
  </div>
</div>
<button class="mt-2 btn btn-secondary" *ngIf="!showUserForm" (click)="toggleUserForm(true)">Add member</button>

<form *ngIf="showUserForm" [formGroup]="userForm" (submit)="addUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name" required>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" id="age" class="form-control" formControlName="age">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" id="phone" class="form-control" formControlName="phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
  <button (click)="toggleUserForm(false)" class="btn btn-secondary">Cancel</button>
</form>
