<div *ngIf="group">
  <h2>{{group.name}}</h2>
  <ul>
    <li *ngFor="let user of group.users">
      <h4>{{user.name}}</h4>
      <ul>
        <li>Age: {{user.age}}</li>
        <li>Phone: {{user.phone}}</li>
        <li>Email: {{user.email}}</li>
      </ul>
    </li>
  </ul>
</div>
<button *ngIf="!showUserForm" (click)="toggleUserForm(true)">Add member</button>

<form *ngIf="showUserForm" [formGroup]="userForm" (submit)="addUser()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" required>
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" id="age" formControlName="age">
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="tel" id="phone" formControlName="phone">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <button type="submit">Add</button>
  <button (click)="toggleUserForm(false)">Cancel</button>
</form>
