<div class="d-flex">
  <div *ngFor="let group of groups" class="card mr-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{group.name}}</h5>
      <a [routerLink]="'/groups/' + group._id" class="btn btn-primary">Edit a group</a>
    </div>
  </div>
</div>

<button class="mt-2 btn btn-secondary" *ngIf="!showUserForm" (click)="toggleGroupForm(true)">Create group</button>

<form class="mt-2" *ngIf="showGroupForm" [formGroup]="groupForm" (submit)="createGroup()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
  <button (click)="toggleGroupForm(false)" class="btn btn-secondary">Cancel</button>
</form>
